.span1 {
    color:#211C84;
    font-family: 'ubuntu';
    font-weight: bold;
    
}

.head1 {
  font-size: 1.5em;
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #0d6efd; /* Bootstrap blue */
  transition: width 0.3s ease;
} 

 .nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
   }  




.color {
  color:#211C84;
  /* background-color: gray; */
  
  /* opacity: 30%; */
}
.container > h1 {

  /* background-color:#B5A8D5; */
  border-radius: 10px;
  /* opacity: 10%; */
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 3000px;
    --bs-offcanvas-height: 30vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: var(--bs-body-color);
    --bs-offcanvas-bg: var(--bs-body-bg);
    --bs-offcanvas-border-width: var(--bs-border-width);
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
    --bs-offcanvas-transition: transform 0.3s ease-in-out;
    --bs-offcanvas-title-line-height: 1.5;
}
#offcanvasNavbar {
  width: 250px;
}

@media (min-width: 768px) {
  #offcanvasNavbar {
    width: 300px;
  }
}

.offcanvas-body .navbar-nav {
  text-align: center;
  width: 100%;
}
.offcanvas-body .nav-link {
  width: 100%;
}
/* Custom CSS for screens smaller than 375px */
@media (max-width: 375px) {
  .navbar {
      display: flex;
      justify-content: space-between;
  }

  .navbar-toggler {
      margin-left: auto; /* Push the hamburger icon to the right */
  }

  .navbar-collapse {
      flex-grow: 0; /* Prevent collapse from growing */
  }
}

.move{
  padding-bottom: 100px;
}


.nav-link.animate {
  animation: pulse 0.3s ease;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

